{%extends "pessoabase.html"%}
{%block body%}
    <div id="label_details"><strong> DETALHES CADASTRAIS</strong></div>
    <div id="box_details">
        {%for pessoa in pessoas%}
            <div>Nome: </div>
            <div>{{pessoa|linebreaksbr}}</div>
            <div>Titulo: </div>
            <div>{{pessoa.titulo}}</div>
            <div>CPF:</div>
            <div>{{pessoa.cpf}}</div>
            <div>Telefone:</div>
            <div>{{pessoa.telefone}}</div>
            <div>E-mail:</div>
            <div>{{pessoa.email}}</div>
            <div>CEP:</div>
            <div>{{pessoa.cep}}</div>
            <div>Rua: </div>
            <div>{{pessoa.rua}}</div>
            <div>Numero: </div>
            <div>{{pessoa.numero}}</div>
            <div>Bairro: </div>
            <div>{{pessoa.bairro}}</div>
            <div>Apartamento:</div>
            <div>{{pessoa.apartamento}}</div>
            <div>Bloco:</div>
            <div> {{pessoa.bloco}}</div>
            <div>Complemento:</div>
            <div> {{pessoa.complemento}}</div>
    	{% endfor%}
    </div>
{%endblock%}