{%extends "pessoabase.html"%}
{%block body%}
 <form class="form-signin-heading"  action="{%url 'pessoa_search'%}" method="post">
    {%csrf_token%}
     <div id="search">
        <input id="search-input" type="text" class="form-control default-size" placeholder="Informe um Nome ou Titulo" name="nome">
        <button id="search-button" class="btn btn-lg btn-primary btn-block default-size" type="submit" >BUSCAR</button>
    </div>
    <div class="wrapper grid-dados">
    	<div id="label-nome" >Nome </div>
    	<div id="label-titulo">Titulo </div>

    	{%for pessoa in pessoas%}
    		<div id="dados-nome" class="box">
    			<a href="{%url 'details' pessoa.id%}">{{pessoa|linebreaksbr}}</a>
    		</div>
        <div class="box">{{pessoa.titulo}}</div>
    	{% endfor%}
    </div>
 </form>
{% endblock%}