@charset "UTF-8"
/* =CSS Reset */
/* https://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

*,html, body{
    margin:0;
    padding:0;
}

/* Regras CSS reset */

*,*:before, *:after{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* Regra para o clear float*/

.cf:before,
.cf:after {content:"";display:table;}
.cf:after {clear: both;}
.cf{*zoom:1;}
body{
    margin-left:0px;/*espaço a esquerda para a barra vertical visivel do menu*/
    font: 62.5%/1.2 Verdana, Helvetica, Arial, sans-serif;
}

*{
    padding:0px;
    margin:0px;
}
/*Cabecalho e menu*/
#topo{
    width: 100%;
    height: 100px;
    clear: both;
    background-color:#2E9AFE;
}

.logo {
    width: 150px;
}

#topo a{
    color: white;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
}

#config{
    position:relative;
    left:900px;
}

#menu{
    color:black;
    height: 50px;
    padding : 18px;
    background-color:#58ACFA;
    font-size:1.0em;
}

#menu li{
    padding:0;
    margin:0;
}

#menu li a, #menu li a:link{
    font-size:1.2em;
    colo:rgb(255,255,255);
    text-decoration: none;
    /*padding: 0.8em 0 0.8em 1em;*/
    display:block;
    font-weight: bold;
}

#menu li a:houver{
    color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.2);
}

#menu li{
    display: inline-block;
}

#menu li a{
    color: white;
    margin-right: 25px;
    text-decoration: none;
    font-weight: bold;
}

#menu li a:hover{
    color:#d8d8d8;
}

#logout{
    position:relative;
    left:900px;
    padding-right:10px;
}

/*Conteudo da pagina*/
body{
    background-color:#999999;
}

#conteudo {
   padding: 5px;
}

/*Cabecalho do Grid*/
#label-titulo{
    margin-bottom:10px;
}

/*Caracteristicas do grid*/
.wrapper{
    display: grid;
    width:500px;
    margin-left:10px;
    grid-template-columns: 250px 1fr;
    border-radius: 5px;
    grid-gap:5px;
}

.grid-dados{
    color:white;
    padding:5px;
    font-size:12px;
    height: 25px;
    font-weight: bold;
    border-width: 0px;
    background-color:#ccc;
    text-decoration: none;
}

.box{
    background-color:#ccc;
    color: #fff;
    border-radius:5px;
    padding:5px;
    height:25px;
}

#top-form{
    color:white;
    font-size:16px;
    font-weight: bold;
    padding-top: 10px;
}
#form{
    padding-left: 20px;
}

/*Linha decorativa no Formulario de cadastro*/
hr{
    width:380px;
}

.default-size{
    width:380px;
    height:25px;
    font-size:12px;
}

/*Area de pesquisa*/
#search{
    padding: 10px;
}

#search-input{
    float:left;
    padding: 0 3px 0 10px;
    margin-right:10px;
}

#search-button{
    width: 110px;
    height: 25px;
    font-size:12px;
    font-weight:bold;
    padding: 0px;

}

/* Link no Grid*/
#dados-nome a{
    color:white;
    text-decoration:none;
}

/*Registrar nova pessoa*/
#registrar{
    font-size: 14px;
    font-weight : bold;
    padding-top: 0px;
}

/*Caracteristicas do footer*/
#rodape{
    position:   fixed;
    bottom:     0;
    left:       0;
    width:      100%;
    box-sizing: border-box;
    background-color: #ccc;
}
/*Caracteristicas da caixa que agrupo os campos detalhados de cada pessoas*/
#box_details{
    display: grid;
    grid-template-columns:110px 1fr;
    background-color: #ccc;
    border-radius: 5px;
    text-weight: bold;
    font-size: 14px;
    width: 350px;
    margin : 15px;
    padding: 10px;
    color: white;
}

#box_details div{
    padding: 5px;
}
/*Rotulo do titulo na tela de Detalhes*/
#label_details{
    color: white;
    text-weight: bold;
    font-size: 16px;
    margin:15px;

}
/*Agrupador dos campos do cadastro de usuarios*/
/*#box-user{
    display : grid;
    width: 500px;
    margin-left:10px;
    grid-template-columns: 1fr;
    border-radius : 5px;
    grid
}*/

#
.wrapper{
    display: grid;
    width:500px;
    margin-left:10px;
    grid-template-columns: 250px 1fr;
    border-radius: 5px;
    grid-gap:5px;
}